mixin menu(items)
  div.col-sm-2
    div.menu
      div.top
      ul.nav.nav-pills.nav-stacked
        each item in items
          li
            a(href=item.href)= item.title

div.header
  div.container
    div.row
      div.col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1
        +menu(menu)
        div.title.col-sm-8
          p= 'Клуб'
          p= 'Любителей'
          p= 'ЭВМ'
  div.down