doctype html
html
  head
    title= title
    link(rel='shortcut icon', href='/favicon.ico')
    link(rel='stylesheet', href='http://yastatic.net/bootstrap/3.1.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/main.css')
  body
    include header
    div.container
      div.col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1
        block content
    script(src='http://yastatic.net/jquery/1.11.1/jquery.min.js')
    script(src='http://yastatic.net/bootstrap/3.1.1/js/bootstrap.min.js')