extends layout

mixin record_view(record)
  div.post.panel.panel-default
    div.panel-heading
      h4= record.title
    div.panel-body
      != record.data
    if record.share
      div.panel-footer
        div.share

block content
  div#posts
    each record in records
      +record_view(record)